# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT

/text-ui-test/data/budgetflow.txt
/text-ui-test/data/saving_goal.txt

/data/budgetflow.txt
/data/saving_goal.txt

